@tailwind base;
@tailwind components;
@tailwind utilities;


@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

/* html {
  font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
} */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local("Montserrat Medium"), local("Montserrat-Medium"),
    url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_cJD3gTD_u50.woff2)
      format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_cJD3g3D_u50.woff2)
      format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"),
    url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_cJD3gbD_u50.woff2)
      format("woff2");
}

/* Define classes using the specific font weights */
.mont-500 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.mont-700 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.mont-800 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}
.mont-600 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.mont-400 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  src: local("Jost Medium"), local("Jost-Medium"),
    url(https://fonts.gstatic.com/s/jost/v2/5tN2GA5ibtx5eRVhBcmwiKkwRg.woff2)
      format("woff2");
}

@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  src: local("Jost Bold"), local("Jost-Bold"),
    url(https://fonts.gstatic.com/s/jost/v2/5tN2GA5ibtx5eRVhBcmwiKkwRg.woff2)
      format("woff2");
}

@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 800;
  src: local("Jost ExtraBold"), local("Jost-ExtraBold"),
    url(https://fonts.gstatic.com/s/jost/v2/5tN2GA5ibtx5eRVhBcmwiKkwRg.woff2)
      format("woff2");
}

/* Define classes using the specific font weights */
.jost-500 {
  font-family: "Jost", sans-serif;
  font-weight: 500;
}

.jost-700 {
  font-family: "Jost", sans-serif;
  font-weight: 700;
}

.jost-800 {
  font-family: "Jost", sans-serif;
  font-weight: 800;
}
.jost-600 {
  font-family: "Jost", sans-serif;
  font-weight: 600;
}
.jost-400 {
  font-family: "Jost", sans-serif;
  font-weight: 400;
}

@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,100&family=Libre+Baskerville:wght@700&family=M+PLUS+Rounded+1c&family=Montserrat:ital@1&family=Open+Sans:ital@1&family=Poppins:wght@300;500;700&family=Questrial&family=Roboto&display=swap");

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.zind {
  z-index: 1000;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

/* This file is for your main application CSS */

/* Alerts and form errors used by phx.new */
.alert {
  padding: 15px;
  position: fixed;
  top: 0;

  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  z-index: 1000;

  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #202941;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
